/** @format */

@import url('normalize.css');
@import 'page.css';
@import 'logo.css';
@import 'ripples.css';
@import 'section.css';

@font-face {
  font-family: 'UncutSans';
  src: url('../fonts/UncutSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --base-metric: 4px;
  --spacing-xxs: calc(1 * var(--base-metric));
  --spacing-xs: calc(2 * var(--base-metric));
  --spacing-s: calc(3 * var(--base-metric));
  --spacing-m: calc(4 * var(--base-metric));
  --spacing-l: calc(6 * var(--base-metric));
  --spacing-xl: calc(10 * var(--base-metric));
  --spacing-xxl: calc(20 * var(--base-metric));

  --color-0-0: #727272;
  --color-0-1: #fff;
  --color-1-0: #180427;
  --color-1-1: #5c2382;
  --color-1-2: #9900ff;
  --color-1-3: #9043c4;
  --color-2-0: #cafd73;
  --color-2-1: #ccffc8;
  --color-2-2: #a6fc9e;

  --color-gradient-1: linear-gradient(
    0deg,
    var(--color-1-1) 0%,
    var(--color-0-0) 100%
  );
  --color-gradient-2: linear-gradient(
    0deg,
    var(--color-2-1) 0%,
    var(--color-1-2) 100%
  );
  --color-gradient-3: linear-gradient(
    to right,
    var(--color-1-3) 0%,
    var(--color-2-2) 100%
  );

  --text-mono-font-size: calc(var(--base-metric) * var(--base-metric));
  --text-mono-line-height: 1.4;
  --text-mono-font-weight: 400;
  --text-mono-font-style: normal;
  --text-mono-font-family: 'IBMPlexMono', monospace;

  --text-m-font-size: calc(var(--base-metric) * var(--base-metric));
  --text-m-line-height: 1.4;
  --text-m-font-weight: 400;
  --text-m-font-style: normal;
  --text-m-font-family: 'UncutSans', sans-serif;

  --text-l-font-size: 1.25rem;
  --text-l-line-height: 1.2;
  --text-l-font-weight: 500;
  --text-l-font-style: normal;
  --text-l-font-family: 'UncutSans', sans-serif;

  --text-xl-font-size: 1.4rem;
  --text-xl-line-height: 1.2;
  --text-xl-font-weight: 500;
  --text-xl-font-style: normal;

  --text-xxl-font-family: 'UncutSans', sans-serif;
  --text-xxl-font-size: 1.7rem;
  --text-xxl-line-height: 1.2;
  --text-xxl-font-weight: 500;
  --text-xxl-font-style: normal;

  --text-xxxl-font-family: 'UncutSans', sans-serif;
  --text-xxxl-font-size: 2.25rem;
  --text-xxxl-line-height: 1.1;
  --text-xxxl-font-weight: 600;
  --text-xxxl-font-style: normal;

  --text-xxxxl-font-family: 'UncutSans', sans-serif;
  --text-xxxxl-font-size: 3rem;
  --text-xxxxl-line-height: 1.1;
  --text-xxxxl-font-weight: 600;
  --text-xxxxl-font-style: normal;
}

html,
body {
  font-family: var(--text-m-font-family);
  font-weight: var(--text-m-font-weight);
  font-style: var(--text-m-font-style);
  font-size: var(--text-m-font-size);
  line-height: var(--text-m-line-height);
  background-color: var(--color-1-0);
  color: var(--color-0-1);
}

a {
  color: var(--color-2-0);
}

b,
strong {
  color: var(--color-2-0);
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote {
  max-width: 100%;
  margin: 0;
  padding: 0 0 var(--spacing-s);
}

h1,
h2,
h3,
h4,
h5 {
  padding-top: var(--spacing-xs);
}

h1 {
  font-family: var(--text-xxxxl-font-family);
  font-size: var(--text-xxxxl-font-size);
  line-height: var(--text-xxxxl-line-height);
  font-weight: var(--text-xxxxl-font-weight);
  font-style: var(--text-xxxxl-font-style);
}

h2 {
  font-family: var(--text-xxxl-font-family);
  font-size: var(--text-xxxl-font-size);
  line-height: var(--text-xxxl-line-height);
  font-weight: var(--text-xxxl-font-weight);
  font-style: var(--text-xxxl-font-style);
}

h3 {
  font-family: var(--text-xxl-font-family);
  font-size: var(--text-xxl-font-size);
  line-height: var(--text-xxl-line-height);
  font-weight: var(--text-xxl-font-weight);
  font-style: var(--text-xxl-font-style);
}

h4 {
  font-family: var(--text-xl-font-family);
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
  font-weight: var(--text-xl-font-weight);
  font-style: var(--text-xl-font-style);
}

h5 {
  font-family: var(--text-l-font-family);
  font-size: var(--text-l-font-size);
  line-height: var(--text-l-line-height);
  font-weight: var(--text-l-font-weight);
  font-style: var(--text-l-font-style);
}

blockquote {
  font-family: var(--text-l-font-family);
  font-size: var(--text-xxl-font-size);
  line-height: var(--text-xxl-line-height);
  font-weight: var(--text-m-font-weight);
  font-style: var(--text-l-font-style);
  background: var(--color-gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: var(--spacing-xl) 0 var(--spacing-xs);
  position: relative;
  z-index: 1;
}

blockquote p {
  padding-bottom: var(--spacing-xs);
}

blockquote::before {
  --size: var(--spacing-l);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  content: '“';
  position: absolute;
  left: 0;
  top: var(--spacing-xs);
  z-index: 2;
  width: 100%;
  height: var(--size);
  font-family: var(--text-m-font-family);
  font-size: calc(var(--size) * 4);
  font-weight: var(--text-m-font-weight);
  font-style: var(--text-m-font-style);
  line-height: 0.7;
  color: var(--color-2-0);
}

main {
  box-sizing: border-box;
  width: 100%;
}
