.numbered {
  counter-reset: numbered;
}

.numbered--item--heading::before {
  counter-increment: numbered;
  content: counter(numbered);
  display: block;
  color: var(--color-2-0);
  font-size: var(--text-xxxl-font-size);
}

@media (min-width: 1000px) {
  .numbered--item {
    padding-left: var(--spacing-xxl);
  }

  .numbered--item--heading {
  }

  .numbered--item--heading::before {
    font-size: var(--text-xxxxl-font-size);
    width: var(--spacing-xxl);
    text-align: center;
  }
}
