@font-face {
	font-family: 'UncutSans';
	src: url('/fonts/UncutSans-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'TT Nooks';
	src: url('/fonts/TT-Nooks-Script-Trial-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}
